<div class="user-container mt-4 row">
  <div class="user-avatar text-center col-6 col-md-5 col-lg-3">
    <img src="https://th.bing.com/th/id/OIP.JQMcE7P-UnqjHJPCuebtBwHaE7?pid=ImgDet&rs=1" alt="Avatar" class="img-fluid rounded-circle">
  </div>

  <div class="user-info col-6 col-md-7 col-lg-9">
    <span class="edit-profile rounded-pill text-center">Edit Profile</span>
    <h1 class="user-name"><%= @user.firstname %> <%= @user.lastname %></h1>
    <ul class="tab-list nav">
      <li class="tab pr-2 nav-item">
        <%= link_to(profile_photo_path(@user)) do %>
          <span style="font-size: 1.5rem"><%= @user.posts_count %></span> PHOTOS
        <% end %>
      </li>
      <li class="tab border-left pl-2 pr-2 nav-item">
        <%= link_to(profile_album_path(@user)) do %>
          <span style="font-size: 1.5rem"><%= @user.albums_count %></span> ALBUMS
        <% end %>
      </li>
      <li class="tab border-left border-right pl-2 pr-2 nav-item">
        <span style="font-size: 1.5rem">22</span> FOLLOWINGS
      </li>
      <li class="tab pl-2 nav-item">
        <span style="font-size: 1.5rem">13</span> FOLLOWERS
      </li>
    </ul>
  </div>
</div>
